#seleccionadordevuelos .inputnowrap{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  min-width: 1px;
}
#seleccionadordevuelos .colormarca {
  color: #ff0080;
}

#seleccionadordevuelos i{
	color: #ff0080;
}

#seleccionadordevuelos button{
	background: #ff0080;
	color:white;
}

.anchofechas{
	width:600px;
}

.anchopasajeros{
	flex-direction:column;
}

#number input{
	color:white !important;
}

.cajadatosfields{
	position: relative;
	display: inline-block;
	float: left;
	margin-top: 0px;
	width: 300px;
	height:auto;
}

.cajatradpass{
	position: relative;
	display: inline-block;
	float: right;
	width: 100%;
	height:auto;
}

#pasajerosfields p{
	margin-botton:0px !important;
	padding-bottom:0px !important;
}